@import './variable.scss';
@mixin darkStyle() {
  background: $dark-back-color !important;
  color: $dark-text-color !important;
  border: 1px solid $dark-back-color;
}
@mixin righItemStyle() {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  width: 90%;
  padding: 0.6rem;
  background-color: #f2f6fc;
  border-radius: 0.625rem;
}
@mixin pageStyle() {
  margin: 0 auto;
  padding: 1rem 0;
  max-width: 81rem;
  height: calc(100vh - 13.6rem);
  box-sizing: border-box;
}